table, th, td 
{
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
    background-color: #ffd78c;
}
tr:nth-child(even) {background-color: #f2f2f2;}

H1 { text-align: center }

